/* Глобальные стили */
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: 500;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
}

/* Состояния */
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:last-child .button:hover,
.services-item:last-child .button:focus {
  background-color: #eab534;
}

.services-item:last-child .button:active {
  background-color: #e5a722;
}

.filter .button:hover,
.filter .button:focus,
.pagination-item-next:hover,
.pagination-item-next:focus {
  background-color: #dfdfdf;
}

.filter .button:active,
.pagination-item-next:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.template-hover .button {

}

/* Стили */
.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;  
}

.site-navigation {
  list-style: none;
}

.main-navigation a {
  text-transform: uppercase;
  color: #000000;  
}

.slider {
  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item:nth-child(2) .button {
  background-color: #00ca74;
}

.services-item:last-child .button {
  background-color: #efc84a;
}

.lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
}

.about-us ul {
  list-style: none;
}

.heading-centered {
  text-align: center;
}

.in-numbers th {  
  font-size: 45px;
  font-weight: 700;
}

.table tr:last-child {
  line-height: 18px;
}

.customers-list {
  list-style: none;
}

.footer-contacts p {
  line-height: 18px;
}

.footer-contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social ul {
  list-style: none;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social span {
  line-height: 22px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal label {
  line-height: 18px;
  font-weight: 700;
}

.modal input, 
.modal textarea {
  font: inherit;
  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
  border-color: #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;
  border-color: #000000;

}


/* Магазин */
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.filter legend,
.sorting legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  line-height: 20px;
  color: #283136;
}

.filter ul,
.sorting ul  {
  list-style: none;
}

.filter .button {
  color: #000000;
  background-color: #eeeeee;
}

.sorting label {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting .active {
  opacity: 1;
}

.template-hover {
  text-align: center;
}

.template-hover h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.template-hover p {
  line-height: 18px;
  color: #666666;
}

.pagination-item a {
  font-weight: 500;
  color: #000000;
}

.pagination-item-next {
  color: #000000;
  background: #eeeeee;
}