/* Глобальные стили */
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  font: inherit;
  font-weight: 500;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Состояния */
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:last-child .button:hover,
.services-item:last-child .button:focus {
  background-color: #eab534;
}

.services-item:last-child .button:active {
  background-color: #e5a722;
}

.filter .button:hover,
.filter .button:focus,
.pagination-item-next:hover,
.pagination-item-next:focus {
  background-color: #dfdfdf;
}

.filter .button:active,
.pagination-item-next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

/* Стили */
.main-header {
  /* margin-bottom: 1px; */
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  line-height: 30px;
  font-weight: 500;  
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  width: 160px;
}

.main-navigation a {
  text-transform: uppercase;
  color: #000000;  
}

.slider {
  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slider-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.services {
  padding-top: 250px;
  padding-bottom: 80px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 260px;
  margin-right: 140px;
}

.services-item h3 {
  position: relative;

  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item:first-child h3::before {
  content: "";
  position: absolute;
  top: -170px;
  width: 300px;
  height: 146px;
  background-image: url('img/illustration-1.png');
}

.services-item:nth-child(2) h3::before {
  content: "";
  position: absolute;
  top: -170px;
  width: 300px;
  height: 146px;
  background-image: url('img/illustration-2.png');
}

.services-item:last-child h3::before {
  content: "";
  position: absolute;
  top: -170px;
  width: 300px;
  height: 146px;
  background-image: url('img/illustration-3.png');
}

.services-item:nth-child(2) .button {
  background-color: #00ca74;
}

.services-item:last-child .button {
  background-color: #efc84a;
}

.aboutus-columns {
  display: flex;
  justify-content: space-between;

  padding-top: 80px;
  padding-bottom: 70px;
}

.about-us {
  width: 660px;
}

.lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
}

.about-us ul {
  list-style: none;
}

.heading-centered {
  text-align: center;
}

.in-numbers {
  width: 360px;
  padding-top: 200px;
}

.in-numbers .heading {
  position: relative;
}

.in-numbers .heading::before {
  content: "";
  position: absolute;
  top: -245px;
  width: 360px;
  height: 208px;
  background-image: url('img/nerds-illustration.png');
}

.in-numbers th {  
  font-size: 45px;
  font-weight: 700;
}

.table tr:last-child {
  line-height: 18px;
}

.customers {
  margin-bottom: 80px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.customers-item {
  width: 260px;
  height: 180px;

  line-height: 180px;
  text-align: center;
}

.customers-item img {
  opacity: 0.2;
  vertical-align: middle;
  cursor: pointer;
}

.customers-item img:hover {
  opacity: 1;
}

.main-footer {
  padding-bottom: 70px;
}

.map {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.main-footer img {
  width: 1440px;
  height: 416px;
}

.footer-contacts {
  position: absolute;
  top: 55px;
  left: 140px;

  width: 320px;
  height: 310px;

  background-color: #ffffff;
}

.footer-contacts img {
  text-align: center;
}

.footer-contacts p {
  line-height: 18px;
}

.footer-contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
}

.footer-social ul {
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.footer-social p {
  width: 600px;
  margin: 0;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social span {
  line-height: 22px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal label {
  line-height: 18px;
  font-weight: 700;
}

.modal input, 
.modal textarea {
  font: inherit;
  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
  border-color: #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;
  border-color: #000000;

}


/* Магазин */
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.filter legend,
.sorting legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  line-height: 20px;
  color: #283136;
}

.filter ul,
.sorting ul  {
  list-style: none;
}

.filter .button {
  color: #000000;
  background-color: #eeeeee;
}

.sorting label {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting .active {
  opacity: 1;
}

.template-hover {
  text-align: center;
}

.template-hover h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.template-hover p {
  line-height: 18px;
  color: #666666;
}

.pagination-item a {
  font-weight: 500;
  color: #000000;
}

.pagination-item-next {
  color: #000000;
  background: #eeeeee;
}
